body {
   font-family: 'Crimson Text', serif;
}

p {
   margin-top: 12px;
}

span {
   border-left: 1px solid #ccc;
   border-right: 1px solid #ccc;
   display: inline-block;
   white-space: pre;
}

h1 {
   font-size: 2rem;
   letter-spacing: 2px;
   margin: 16px 0 0;
   text-align: center;
   text-transform: uppercase;
}

h2 {
   font-size: 1.5rem;
}

section {
   padding: 12px 0;
   text-align: center;
}

section:nth-child(odd) {
   background-color: rgb(240, 240, 240);
}
